@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
     --background: 193, 33%, 34%;
    --foreground: 0 0% 98%;

    --card: 193, 100%, 48%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 98%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 153, 98%, 48%;
    --primary-foreground:240 10% 3.9%;
 
    --secondary: 193, 100%, 48%;
    --secondary-foreground: 240 10% 3.9%;
 
    --muted: 17, 12%, 40%;
    --muted-foreground: 0 0% 98%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 180, 15%, 25%;
 
    --destructive: 19, 100%, 48%;
    --destructive-foreground: 0 0% 98%;

    --border:  240 10% 3.9%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 1rem;
  }
 
  /* .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  } */
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}